
@{
    Layout = null;
}

@model mvc_iframe.Models.Contact

@{
    ViewBag.Title = "Contact - Details";
    ViewBag.Module = "Contact";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Details</h2>

        <div>
            <h4>@ViewBag.Module</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Age)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Age)
                </dd>

                @foreach (var phone in Model.Phones)
                {
                    <dt>
                        @Html.DisplayNameFor(item => phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(item => phone)
                    </dd>
                }


            </dl>
        </div>
        <p>
            @Html.ActionLink("First29", "Index", new { id = UrlParameter.Optional }) |
            @Html.ActionLink("Another26", "Index", new { id = 26 })
        </p>

        <p>
            <input type="button" id="btnpopup" value="Upload File" onclick="ShowModelPopUp();" />
        </p>

        <script type="text/javascript">
            ShowModelPopUp = function () {
                popUpModal('/Contact/Upload', "Upload File", 'width=400px,height=400px');
            }

            popUpModal = function (arg1, arg2, arg3) {

                var w;
                var h;
                var resizable = "no";
                var scroll = "no";
                var status = "no";

                // get the modal specs
                var mdattrs = arg3.split(",");
                for (i = 0; i < mdattrs.length; i++) {
                    var mdattr = mdattrs[i].split("=");

                    var n = mdattr[0];
                    var v = mdattr[1];
                    if (n) { n = n.trim().toLowerCase(); }
                    if (v) { v = v.trim().toLowerCase(); }

                    if (n == "height") {
                        h = v.replace("px", "");
                    } else if (n == "width") {
                        w = v.replace("px", "");
                    } else if (n == "resizable") {
                        resizable = v;
                    } else if (n == "scroll") {
                        scroll = v;
                    } else if (n == "status") {
                        status = v;
                    }
                }

                var left = window.screenX + (window.outerWidth / 2) - (w / 2);
                var top = window.screenY + (window.outerHeight / 2) - (h / 2);

                var targetWin = window.open(arg1, arg2, 'toolbar=no, location=no, directories=no, status=' + status + ', menubar=no, scrollbars=' + scroll + ', resizable=' + resizable + ', copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                targetWin.focus();
            };


        </script>
    </div>
</body>
</html>
